@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
body{
    margin: auto;
    background-color: white;
    font-family: "Arial";
    font-size: 12px;
    overflow-x: hidden; /* Impede rolagem horizontal na página inteira */
    
  
    
   
 


}
html{
    scroll-behavior: smooth;
}
.header-topo {
  background: #f4f4f4;
  padding: 6px;
  font-size: 11px;
 justify-content: center;
  font-weight: 500;
  color: #111;
  display: flex;
  padding-right: 130px;
  height: 20px;
  align-items: center;
 
}

::-webkit-scrollbar {
    width: 7px; /* Largura da barra */
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra */
    border-radius: 5px;

}
#cabecalho{
    background-color: white;
    position: fixed;
    z-index: 1;
   
 
}
#cabecalho.header{
    display: flex;
}

header{
    display: flex;
    width: 100vw;
    margin-top: 5px;
    justify-content: space-between;
    padding: 0px 40px;

}
#logo{
    width: 90px;
    height: 20px;
    margin-top: 0px;
   padding-left: 10px;
}
#pesquisa{
    justify-content: center;
   width: auto;
   text-align: center;
   position: relative;
   align-items: center;
   display: flex;
   
   
}
#pesq{
    border: none;
        width: 250px;
        height: 100%;
        padding-left: 10px;
        color: #888;
        margin-bottom: 1px;
    
 

}
#pesq:focus{
    outline: none;
}
#borda{
    width: 300px;
    height: auto;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
   
}
#borda img{
 margin-bottom: -2px;
}




#voltar{
   margin: 1px;
   z-index: 2;
   display: flex;
}



.menu-navegacao {
  background: rgb(0, 0, 0);
  padding: 0px 0;
  border-bottom: 1px solid #eaeaea;
  padding-top: 0.5px;
  margin-top: 2px;

}

.menu-navegacao ul {
  display: flex;
  justify-content: center;
  list-style: none;
   justify-content: space-between;
    padding: 0px 190px;
    margin-right: 190px;
    margin-bottom: 10px;
align-items: center;
font-family: "Arial";


}

.menu-navegacao a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 10px;
  font-size: 15px;
  margin-top: 4px;
 
}

.menu-navegacao a:hover{
  text-decoration: solid;
  color: #888888;
}


.icones{
    width: 20px;
    height: 20px;
    cursor: pointer;

   
}
.icones-retorne{
    width: 20px;
    height: 20px;
    cursor: pointer;

}




#config{
    position: relative;
    display: flex;
    top: 0px;
    margin-right: 60px;

    height: auto;
   
   
    

}



#config img{
  padding-left: 10px;
padding-right: 10px;

    margin-top: 5px;
}
#config p{
    margin-left: -4px;
 
}

#imgprincipal{

    position: absolute;
    margin-top: 80px;
    float: none;
    width: 100vw;
    height: 350px;
    margin-left: 0;
    margin-right: 0;

 
}

#imgPrinc{
    width: 100%;
    height: 100%;
}

#sobre{
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    top: 450px;
    overflow: hidden;

 
}

#ul-informes{

    text-align: center;
    padding: 0%;
 
}

.informes{
    margin-top: 0px;
    width: auto;
    height: auto;
    margin: 0 60px;
    text-align: left;
    display: flex;
    font-size: 9px;

}

strong{
    font-size: 12px;
}

p{  
    padding-left: 5px;
}
.informes :last-child{
    margin: 0px;/* last-child remover a margin do ultimo item*/
}

#pai-produtos{
    top:170px ;
    display: flex;
    position: relative;
    width:100% ;
    height: 400px;
    justify-content: center;
 
}

#produtos{

    display: flex;
    flex-wrap: wrap;
    height: 300px;
    max-width: 960px;
    position: absolute;
    padding: 0;
 

}

h2{ font-size: x-large;
    top: 120px;
    text-align: center;
    height: 28px;
    width:100%;
    margin-top: 2px;
    position: absolute;


}

.roupas{
    margin: 10px;
    height: 250px;
    width: 220px;
    margin-bottom: 30px;
    font-size: larger;
    overflow: hidden;

}

.div-roupas{
    width: 220px;
    height: 200px;
    overflow: hidden;
    background-color: #c4c4c4;
}

.img-roupas{
    width: 100%;
    height: 100%;
   
}

.img-roupas:hover{
    scale: 1.1;
    transition: 0.5s;
}

.parcelas{
    position: absolute;
    color: #5e5e5e;  
}

.text-roupas{
    margin-top: 3px;
}



#pai-cadastro{
    display: flex;
    margin-top: 35%;
    height: 25px;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    justify-content: center;  

}
#cadastro{
    max-width: 960px;

}

label{
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
font-size: 15px;}
#marca{
    padding-top: 0%;
    margin-right: 10px;
    margin-top: 1px;
    font-family: "Dancing Script", cursive;;
    font-size: 15px;
}
#email{
    margin-right: 7px;
    margin-top: 2px;
    height: 19px;
    border-color: black;
    border-style: groove;
    outline: #5e5e5e;
    border-radius: 3px;
    top: 0;
    left: 0;
    bottom: 1px;
    width: auto;
    color: black;
    z-index: 1;

}
#bt-enviar{
    margin-top: 1px;
    height: 24px;
    border-radius: 3px;

}
#bt-enviar:hover{
    background-color: #888;
    transition: 0.6s;
}

#pai-outros-produtos{ 
    margin-top: 40px;
    justify-content: center;
}

.outros-produtos{
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.div-outros-produtos{
    margin: 12px;
    height: 250px;
    width: 456px;
    overflow: hidden;
    
}

.img-outros-produtos{
    height: 100%;
    width: 100%;
}

.img-outros-produtos:hover{
    scale: 1.1;
    transition: 0.5s;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 700px;
}

footer nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

footer nav a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.link-rd{
    color: white;
}

.link-rd:hover{
    color: #c6c6c6;
}

h3{
    font-size: medium;
}

.ul-rodape{
    text-align: left;
    margin-top: 0px;
    flex-direction: column;
    

  
}

@media (max-width:500px) /*Tela de tablet*/{
 
    h1{
        display: none;
    }

    h2{ 
        top: 120px;
        text-align: center;
        height: 20px;
        width:100%;
        margin-top: 2px;
        position: absolute;
    
    
    }
    #pai-produtos{
        top:170px ;
        display: flex;
        position: relative;
        width:100% ;
        height: 400px;
        justify-content: center;
     
    }
    #pai-outros-produtos{ 
        margin-top: 1500px;
        justify-content: center;
     
    }
    .div-outros-produtos{
        margin: 12px;
        height: 160px;
        width: 350px;
        overflow: hidden;
        
    }
    #rodape{
        margin-top: 1px;
        background-color: black;
        justify-content: center;
        color: white;
        display: flex;
    }
    #pesquisa{
 
        height: 20px;
        border-radius: 5px;
        border: 1px , solid;
        padding-right: 0px;
        margin-left: 10px;
        text-align: center;
        display: flex;
        width: 166px;
     
     }
     
     #pesq{
        
         margin-top: 2px;
         height: 13px;
         border-color: transparent;
         border-style: none;
         outline: none;
         border-radius: 3px;
         top: 0;
         left: 0;
         bottom: 1px;
         width: 140px;
      
     }
    
   

 
    
   
    

}

@media(min-width:320px ) and (max-width:420px) /*tela de celular*/{
    #pesquisa{
 
        height: 20px;
        background-color: white;
        border-radius: 5px;
        border: 1px , solid;
        padding-right: 1px;
        margin-left: 10px;
        text-align: center;
        display: flex;
        width: 60%;
     
     }
     
     #pesq{
        
         margin-top: 2px;
         height: 13px;
         border-color: transparent;
         border-style: none;
         outline: none;
         border-radius: 3px;
         top: 0;
         left: 0;
         bottom: 1px;
         width: 100%;
         color: black;
         z-index: 1;
    
      
         
     }


  

    nav{
        margin-top: 20px;
        display: flex; 
        width: 100%; 
        display: none;
    }

    #imgprincipal{

        position: absolute;
        margin-top: 80px;
        float: none;
        width: 100vw;
        height: 150px;
        margin-left: 0;
        margin-right: 0;
    
     
    }

    #sobre{
        position: absolute;
        display: flex;
        width: 100%;
        height: 70px;
        top: 250px;
        text-align: center;
       
 
       

     
    
     
    }
    
    #ul-informes{
    
      
        padding: 0%;
        flex-wrap: wrap;
        margin: auto;
     
      
     
     
    }
    #voltar{
        justify-content: left;
        margin-top: 0%;
        z-index: 3;
    }
    h1{
        display: none;
    }
    
    
    h2{ 
        top: 40px;
        text-align: center;
        height: 20px;
        width:100%;
        margin-top: 2px;
        position: absolute;
    
    }
  
    #pai-produtos{
        top:80px ;
        display: flex;
        position: relative;
        width:100% ;
        height: 400px;
        justify-content: center;
      
     
    }
    
    #produtos{
    
        display: flex;
        flex-wrap: wrap;
        height: 300px;
        max-width: 960px;
        position: absolute;
        padding: 0;
      

  
    
    }
    .roupas{
        margin: 13px;
        height: 220px;
        width: 150px;
        margin-bottom: 5px;
        font-size: larger;
        overflow: hidden;
        margin: auto;
        padding-bottom: 17px;
       
    
    }
    .div-roupas{
        width: 200px;
        height: 150px;
        overflow: hidden;
     
       
      
    }
    
    .img-roupas{
        width: 150px;
        height: 150px;
        border-radius: 4px;
       
    }
    #pai-outros-produtos{ 
        margin-top: 100px;
        justify-content: center;
    }

    .outros-produtos{
        height: 250px;
        display: flex;
        justify-content: center;
        margin-bottom: -110px;
        
    }

    .div-outros-produtos{
        margin: 10px;
        height: 110px;
        width: 456px;
        overflow: hidden;
        border-radius: 4px;
        
    }
    #rodape{
        margin-top: 900px;
        background-color: black;
        justify-content: center;
        color: white;
        display: flex;
        font-size: 8px;
  
      
    }
    .ul-rodape{
        margin:  2px;
        text-align: left;
        width: 100px;
        text-align: left;
       
       
       
    }


 
    h3{
      
        font-size: 11px;
        text-align: center;
    }
    #pai-cadastro{
        margin-top: 1120px;
        background-color: rgba(184, 184, 184, 0.829);
    }
}