*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.neo{
   height: 90px;
   width: 100%;
   background-color: rgb(196, 193, 193);
   display: flex;
   align-items: center;
}
.neo img{
   margin-left: 20px;
}
#h2{
   font-family: poppins;
   color: gray;
   

}
#carrinho{
   height: 100px;
   width: 100px;
   align-items: center;
   text-align: center;
   justify-content: center;
   margin-left: 400px;
}
.tituloCarrinho{
   margin-top: -200px;
}